.carousel-indicators li {
    background-color: DimGray;
}

.carousel-indicators>.active {
    background-color: silver;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: silver;
}